/*Configurações gerais de estilo*/
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

/*Header/Cabeçalho*/

.logo-area {
    margin-left: 7rem;
}

.logo-img {
    width: 30%;
    -webkit-transition: .3s all ease-in;
}


.logo-img:hover {
    -webkit-transform: scale(1.5);
	transform: scale(1.2);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 10px;
    height: 100px;
    background-color: rgb(36, 32, 32);
}

#menu {
    display: flex;
    margin-right: 2rem;
}

#menu li {
    margin-left: 30px;
    color: #fff;
}

#menu li:hover{
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 32, 32);
}

#menu li a{
    display: block;
    padding: 10px;
}

#menu a:hover{
    color: rgb(119, 115, 115);
}

#btn-mobile {
    display: none;
}

/*Banner*/

.banner {
    background-color: #8a8078;
    position: relative;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
}

.conteudo-banner {
    width: 60%;
}

.conteudo-banner h1{
    font-size: 40px;
    padding-left: 15%;
    text-transform: uppercase;
    color: #fffffd;
}

.underline {
    background-color: #fffffd;
    margin-left: 15%;
    height: 2px;
    width: 40%;
}

.conteudo-banner p{
    font-size: 25px;
    padding-top: 5%;
    padding-left: 15%;
    color: #e6ded5;
}

.social-banner {
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    color: #e6ded5;
}

.social-banner h4{
    font-size: 15px;
    padding-bottom: 5%;
}

button.social {
    background-color: #e6ded5;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}

button.social:hover {
    background-color: #000;
    color: #e6ded5;
    cursor: pointer;
}

figure {
    padding: 0%;
    margin: 0%;
    margin-bottom: -3%;
}

.autor{
    width: 84vh;
    -webkit-transition: .5s all ease-in;
}

.autor:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.01);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

/*Introdução*/

.intro {
    background-color: #e0d8d0;
    position: relative;
    height: 100vh;
}

/*------------------Cachorros------------------*/

/*Efeitos geral da seção left/esquerda*/

.dog-left {
    position: relative;
    height: 100vh;
    background-color: #d8b898;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dog-left h2{
    font-size: 40px;
    padding-left: 15%;
    text-transform: uppercase;
    color: #242020;
}

.dog-left-img {
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: -75px -69px #b88e65;
    -webkit-transition: .5s all ease-in;
}

/*Efeitos hover da imagem do lado esquerdo*/

.dog-left-img:hover {
    transform: scale(1.1);
    transition: .5s all ease-in-out;
    cursor: pointer;
}

.dog-left-img:hover:after {
    transform: scale(1);
    transition: .5s all ease-in-out;
    cursor: pointer;
}

/*Efeitos geral da seção right/direita*/

.dog-right {
    position: relative;
    height: 100vh;
    background-color: #b88e65;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dog-right h2{
    font-size: 40px;
    padding-left: 15%;
    text-transform: uppercase;
    color: #242020;
}

.dog-right-img {
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 69px -75px #d8b898;
    -webkit-transition: .5s all ease-in;
}

/*Efeitos hover da imagem do lado direito*/

.dog-right-img:hover {
    transform: scale(1.1);
    transition: .5s all ease-in-out;
    cursor: pointer;
}

/*Underline Título dos Cachorros (Left/Esquerda)*/

.underline-left {
    background-color: #242020;
    margin-top: -3px;
    margin-left: 15%;
    height: 3px;
    width: 5%;
}

/*Underline Título dos Cachorros (Right/Direita)*/

.underline-right {
    background-color: #242020;
    margin-left: 50%;
    height: 3px;
    width: 5%;
    margin-top: -3px;
}

.underline-right-nino {
    background-color: #242020;
    margin-left: 36%;
    height: 3px;
    width: 5%;
    margin-top: -3px;
}

.underline-right-thor {
    background-color: #242020;
    margin-left: 33%;
    height: 3px;
    width: 5%;
    margin-top: -3px;
}

/*Hover Título dos Cachorros (Left/Esquerda)*/

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #242020;
    letter-spacing: 3px;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    margin-left: 40%;
    width: 62%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #242020;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/*Hover Título dos Cachorros (Right/Direta)*/

.hover-underline-animation-right {
    display: inline-block;
    position: relative;
    color: #242020;
}

.hover-underline-animation-right:after {
    content: '';
    position: absolute;
    margin-left: 20%;
    width: 80%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #242020;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.hover-underline-animation-right:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }

/*Ficha técnica do lado esquerdo*/

.ficha-tecnica {
    width: 500px;
    padding-left: 15%;
    padding-top: 5%;
    letter-spacing: 3px;
}

.ficha-tecnica b{
    color: #242020;
    letter-spacing: 3px;
}

.ficha-tecnica p {
    padding: 5% 0;
    color: #e6ded5;
    letter-spacing: 3px;
}

/*Ficha técnica do lado direito*/

.ficha-tecnica-right {
    width: 500px;
    padding-left: 15%;
    padding-top: 5%;
    letter-spacing: 3px;
}

.ficha-tecnica-right b{
    color: #242020;
    letter-spacing: 3px;
}

.ficha-tecnica-right p {
    padding: 5% 0;
    color: #56402b;
    letter-spacing: 3px;
}
  
/*Rodapé*/

footer{
    display: grid;
    background-color: rgb(36, 32, 32);
    align-items: center;
    text-align: center;
    color: #fff;
    height: 70px;
    padding: 0;
}

footer p{
    font-size: 12px;
    margin: 0 auto;
}

footer p:hover {
    color: rgb(119, 115, 115);
}

footer a{
    font-size: 12px;
    margin: 0 auto;
}

footer a:hover {
    color: rgb(119, 115, 115);
}

#instagram {
    margin: 0px 1%;
}

#whatsapp {
    margin: 0px 1%;
}

#linkedin {
    margin: 0px 1%;
}

#github {
    margin: 0px 1%;
}

/*Responsivo tablet*/

@media (max-width: 1000px) {

}

/*Responsivo celular*/

@media (max-width: 650px) {
    .logo-img {
        width: 55%;
        -webkit-transition: .3s all ease-in;
    }

    .logo-area {
        margin-left: 0% !important;
    }

    #btn-mobile {
        display: block;
    }

    #menu {
        display: none;
    }

    #nav.active #menu {
        display: flex;
    }

    .banner {
        background-color: #8a8078;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteudo-banner {
        width: 80%;
        text-align: justify;
        padding: 5%;
    }

    .conteudo-banner h1 {
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        color: #fffffd;
        padding: 0% !important;
    }

    .underline {
        background-color: #fffffd;
        margin: 0% !important;
        height: 2px;
        width: 100%;
    }

    .conteudo-banner p {
        font-size: 25px;
        padding-left: 0% !important;
        padding-top: 5%;
        color: #e6ded5;
    }

    .social-banner {
        width: 80%;
        text-align: center;
        padding-top: 5%;
        color: #e6ded5;
    }

    .social-banner a{
        margin: 5%;
    }

    button.social {
        margin-top: 10%;
    }

    .autor {
        width: 100%;
        -webkit-transition: .5s all ease-in;
    }

    .container {
        padding: 5%;
        padding-bottom: 10%;
    }

    .dog-right {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #b88e65;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        align-content: space-around;
    }

    .dog-right h2 {
        padding-left: 0% !important;
    }

    .underline-left {
        margin-left: 0% !important;
    }

    .ficha-tecnica {
        padding-left: 0%;
        text-align: justify;
        padding-top: 5%;
    }

    .dog-right-img {
        border-radius: 50%;
        border: 2px solid black;
        box-shadow: 5px -17px #d8b898;
        width: 350px;
        margin-bottom: 15%;
    }

    .dog-left {
        position: relative;
        height: 100%;
        background-color: #d8b898;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    
    .dog-left h2 {
        padding-left: 0% !important;
    }

    .underline-right {
        margin-left: 0% !important;
    }

    .ficha-tecnica-right {
        width: 500px;
        text-align: justify;
        padding-left: 0%;
        padding-top: 5%;
    }

    .dog-left-img {
        border-radius: 50%;
        border: 2px solid black;
        box-shadow: -5px -17px #e6ded5;
        width: 350px;
        margin-bottom: 15%;
    }

    .underline-right-nino, .underline-right-thor {
        margin-left: 0%;
    }
}